@model MvcTest.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
@section Head {
    <style type="text/css">
        .validation-summary-errors { color: #f00; }
        .login_list { }
        .login_list li { height: 35px; }
        .login_list label { display: inline-block; width: 100px; text-align: right; }
        .login_list .checkbox { display: inline-block; width: 50px; text-align: left; }
        .btn_submit { margin-left: 145px; }
    </style>
}
<div class="middle-container">
    <section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>用户登录</legend>
        <ul class="login_list">
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
            <label></label>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ul>
        <input class="btn_submit" type="submit" value="登录" />
    </fieldset>
    <p>
        @Html.ActionLink("注册新帐号", "Register") 
    </p>
}
</section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
