@model MvcTest.Models.RegisterModel
@{
    ViewBag.Title = "新用户注册";
}
@section Head {
    <style type="text/css">
        .validation-summary-errors { color: #f00; }
        .reg_list { }
        .reg_list label { display: inline-block; width: 100px; text-align: right; }
        .btn_submit { margin-left: 145px; }
    </style>
}
<div class="middle-container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <legend>用户注册</legend>
            <ul class="reg_list">
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ul>
            <input class="btn_submit" type="submit" value="注册" />
        </fieldset>
    }
</div>
